<div class="grid-container">
  <div class="item1" [ngClass]="{'nacional': festivos[0]}">{{festivos[0]}}</div>
  <div class="item2"  [ngClass]="{'regional': festivos[1]}">{{festivos[1]}}</div>
  <div class="item3" [ngClass]="{'local': festivos[2]}">{{festivos[2]}}</div>
  <div class="item4"  [ngClass]="{'centre': festivos[3]}">{{festivos[3]}}</div>
</div>

<div class="calendar">
<h2>{{primermes}}</h2>
<div class="dias" *ngFor="let item of semanaprimermes; index as p">
  {{semanaprimermes[p]}}
</div>
<div class="dias2" *ngFor="let item of diasprimermes; index as f">
  <div *ngIf="diasprimermes[f]!=septembrefiestan && diasprimermes[f]!=septembrefiestar && 
  diasprimermes[f]!=septembrefiestal && diasprimermes[f]!=septembrefiestanc"> {{diasprimermes[f]}}</div>

 <div *ngIf="diasprimermes[f]==septembrefiestan" [ngStyle]="{'background-color': 'rgb(86, 231, 86)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{septembrefiestan}}</div>
 <div *ngIf="diasprimermes[f]==septembrefiestar" [ngStyle]="{'background-color': 'rgb(116, 46, 116)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{septembrefiestar}}</div>
 <div *ngIf="diasprimermes[f]==septembrefiestal" [ngStyle]="{'background-color': 'rgb(223, 64, 232)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{septembrefiestal}}</div>
 <div *ngIf="diasprimermes[f]==septembrefiestanc" [ngStyle]="{'background-color': 'rgb(188, 245, 108)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{septembrefiestanc}}</div>
   </div> 
</div>


<div class="calendar2">
  <h2>{{segundomes}}</h2>
  <div class="dias" *ngFor="let item of semanasegundomes; index as p">
    {{semanasegundomes[p]}}
  </div>
  <div class="dias2" *ngFor="let item of diassegundomes; index as f">
    <div *ngIf="diassegundomes[f]!=octubrefiestan && diassegundomes[f]!=octubrefiestar && 
    diassegundomes[f]!=octubrefiestal && diassegundomes[f]!=octubrefiestanc"> {{diasprimermes[f]}}</div>

 <div *ngIf="diassegundomes[f]==octubrefiestan" [ngStyle]="{'background-color': 'rgb(86, 231, 86)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{octubrefiestan}}</div>
 <div *ngIf="diassegundomes[f]==octubrefiestar" [ngStyle]="{'background-color': 'rgb(116, 46, 116)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{octubrefiestar}}</div>
 <div *ngIf="diassegundomes[f]==octubrefiestal" [ngStyle]="{'background-color': 'rgb(223, 64, 232)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{octubrefiestal}}</div>
 <div *ngIf="diassegundomes[f]==octubrefiestanc" [ngStyle]="{'background-color': 'rgb(188, 245, 108)', 'border-radius': '100%', 
 'font-size': '16px','border': 'border: 1px solid #000;', 'padding': '18px 30px 13px 13px', 'text-align': 'center'}">{{octubrefiestanc}}</div>
  </div>
  </div>
 



